<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/static/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/index" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>HadeeCare<span>.</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/" class="active">Home</a></li>
          <li><a href="/index">About</a></li>
          <li><a href="/info">Services</a></li>
          <li><a href="/practice">Prediction</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 data-aos="fade-down">Welcome to <span>HadeeCare </span></h2>
        
            <p data-aos="fade-up">Your personal care guide to Polycystic Ovary Syndrome (PCOS).</p>
            <a data-aos="fade-up" data-aos-delay="200" href="#get-started" class="btn-get-started">Get Started</a>
          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active" style="background-image: url(static/img/hero-carousel/hero-carousel-1.jpg)"></div>
      <div class="carousel-item" style="background-image: url(static/img/hero-carousel/hero-carousel-2.jpg)"></div>
      <div class="carousel-item" style="background-image: url(static/img/hero-carousel/hero-carousel-3.jpg)"></div>
      <div class="carousel-item" style="background-image: url(static/img/hero-carousel/hero-carousel-4.jpg)"></div>
      <div class="carousel-item" style="background-image: url(static/img/hero-carousel/hero-carousel-5.jpg)"></div>

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Get Started Section ======= -->
    <section id="get-started" class="get-started section-bg">
      <div class="container">

        <div class="row justify-content-between gy-4">

          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-up">
            <div class="content">
              <h3>WHAT IS POLYCYSTIC OVARY SYNDROME (PCOS)?</h3>
              <p >PCOS is a common health problem caused by an imbalance of reproductive hormones. Women with PCOS produce higher-than-normal amounts of male hormones. The hormonal imbalance creates problems in the ovaries.<br> The ovaries make the egg that is released each month as part of a healthy menstrual cycle. With PCOS, the egg may not develop as it should or it may not be released during ovulation as it should be, causing their body to skip menstrual periods and making harder for them to get pregnant. The ovaries may develop numerous small collections of fluid (follicles) and fail to regularly release eggs.</p>
<h3>What are symptoms for PCOS?</h3>
<ul style="list-style-type:circle ">
  <li>Irregular menstrual cycle</li>
  <li>Too much hair</li>
  <li>Thinning hair</li>
  <li>Acne</li>
  <li> Weight gain</li>
  <li>Darkening of skin</li>
  <li>Skin tags</li>
</ul>
            </div>
          </div>
          <div class="col-lg-5" data-aos="fade">
            <form action="forms/quote.php" method="post" class="php-email-form">
              <h3>Explore topics related to PCOS</h3>
              <p>Having PCOS is a journey of learning about the condition, of understanding how it impacts your life and of what you can do to manage this. We are providing trustworthy information to learn about the condition and support you to find the healthiest possible lifestyle for you.</p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RCSMDJBKKtE?rel=0" allowfullscreen></iframe>
                </div>
                <div class="embed-responsive embed-responsive-16by9 w-50">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XxReEl_sKzo?rel=0" allowfullscreen></iframe>
              </div>
              <div class="embed-responsive embed-responsive-16by9 w-50">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fwVsRIkOzmM?rel=0" allowfullscreen></iframe>
            </div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Get Started Section -->

    <!-- ======= Myths Section ======= -->
    <section id="constructions" class="constructions">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Myths About Polycystic Ovary Syndrome (PCOS)</h2>
          <p>Some medical conditions have the potential to change your life, and once diagnosed, you’ll naturally want to learn as much as possible about them.</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(static/img/con-1.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Myth #1: You Did Something to Cause It</h4>
                    <p>While the exact cause of PCOS is unknown, one thing is certain: You are not to blame.
                      However, several factors including genetics are widely believed to play a role.
                    Also, Women whose mothers and sisters have PCOS are more likely to be affected by this condition, too.</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(static/img/con-2.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Myth #2: If You Lose Weight, You Can Get Rid of PCOS</h4>
                    <p>Unfortunately, there is no cure for PCOS, but overweight and obese women can help balance their hormone levels by losing weight. Otherwise, treatment is aimed at managing symptoms.</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(static/img/con-3.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Myth #3: PCOS is a Rare Condition</h4>
                    <p>This claim is totally wrong. PCOS is a very common hormonal issue. It also affects one in every ten women of reproductive age.The PCOS Foundation estimates that this condition is the cause of fertility issues in women who have trouble with ovulation around 70 percent of the time.                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(static/img/con-4.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Myth #4: You Can't Get Pregnant if You Have PCOS</h4>
                    <p>If you have PCOS and are not trying to get pregnant, don’t assume that you’re in the clear. While it is certainly harder to get pregnant with PCOS, many women still ovulate intermittently. Fertility medications also can help stimulate ovulation if you want to get pregnant.</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

        </div>

      </div>
    </section><!-- End Constructions Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features section-bg">
      <div class="container" data-aos="fade-up">

        <ul class="nav nav-tabs row  g-2 d-flex">

          <li class="nav-item col-3">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
              <h4>Psychological wellbeing</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
              <h4>Eating disorder</h4>
            </a><!-- End tab nav item -->

          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
              <h4>Risk factors</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
              <h4>Lifestyle management</h4>
            </a>
          </li><!-- End tab nav item -->

        </ul>

        <div class="tab-content">

          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <h3>PCOS and psychological wellbeing</h3>
                <p class="fst-italic">
                  Being told that you have PCOS can be a life-altering moment. Women react to this information in their own way, but generally most experience this as a very difficult time in their lives.
                  It is very common to experience a range of reactions ranging from shock to perhaps some relief at knowing what the issue is.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i>
                    It is very common to worry about the future, particularly your future fertility and ability to have children. Seeking information from your doctor will help you plan ahead.</li>
                  <li><i class="bi bi-check2-all"></i> Some of the difficult issues that many women face when they learn they have PCOS are about who they thought they were (identity) and feeling like they are a failure in some way. These feelings are very common. We also know that women with PCOS are at greater risk of anxiety and depression.</li>
                  <li><i class="bi bi-check2-all"></i>  Be kind to yourself during this time. Take the time you need to work through your emotions. When you are ready, seek support from people you trust. You may wish to talk with a health professional (counsellor, social worker, psychologist) experienced in this field. </li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                <img src="static/img/features-1.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3>Eating disorders and disordered eating</h3>
                <p class="fst-italic">
                  Women with PCOS are at greater risk of disordered eating and eating disorders.
The terms disordered eating and eating disorders encompass many conditions and behaviours. They all suggest distress associated with eating, weight and/or body image. As well as being distressing in and of themselves, disordered eating symptoms can also have harmful physical and psychological effects.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i>Many women with PCOS say they adopt very strict eating habits to lose weight and/or say that at times they have little control over how much they eat. Loss of control over eating can often be triggered by negative emotions (e.g., stress, boredom), positive social occasions (e.g., parties) or competing demands (e.g., business at work or home). These symptoms are typically maintained by a strong desire to control weight, shape and/or eating.                  </li>
                  <li><i class="bi bi-check2-all"></i> Many women feel ashamed and therefore unwilling to discuss their eating, weight and/or body image concerns with others. Consequently, health professionals are often unaware of disordered eating and eating disorders often go undiagnosed.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="static/img/features-2.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3>PCOS and heart disease risk factors</h3>
                <ul>
                  <li><i class="bi bi-check2-all"></i> Unhealthy weight increases the risk of a range of significant health problems including heart disease, stroke, some cancers and psychological challenges and limits the quality of life. Unhealthy weight is determined based on a Body Mass Index (BMI) measure.</li>
                  <li><i class="bi bi-check2-all"></i> Cardiovascular disease (heart disease, heart attacks and stroke)<br>
                    Women with PCOS have higher risk factors for cardiovascular disease. Cardiovascular disease (CVD) is the term used for heart, stroke and blood vessel diseases and is one of the leading causes of death in men and women.</li>
                  <li><i class="bi bi-check2-all"></i> PCOS and cholesterol<br>
                    In PCOS, cholesterol is often increased or there may be an imbalance between good and bad cholesterol. This is especially in women who carry excess weight or are from some high-risk ethnic groups including those from South East Asia. Ask your doctor if you are at risk and need your cholesterol levels checked.
                  </li>
                </ul>
                <p class="fst-italic">
                  It is very important to ask your doctor about screening and assessing your risk of cardiovascular disease and have your cholesterol checked initially and your weight, sugar levels for diabetes (every 1-3 years depending on your individual risk) and your blood pressure checked regularly.
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="static/img/features-3.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3>Lifestyle management</h3>
                <p class="fst-italic">
                  Some women with PCOS find it difficult to start and stick with lifestyle changes. This may be due to a lack of progress in the past, emotional challenges, or a range of other reasons.
Here are some things women have found helpful:
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i>Develop a support network of people to help you stick to your lifestyle goals. A support network can be made up of a number of people such as health professionals (GPs, psychologists, dietitian, exercise physiologists and/or personal trainers) and social support such as friends, partners or family. Many women also find joining a network of women with PCOS helpful. This may be a local group or an online network (See More about PCOS for details of online support groups). It is important that you decide what works best for you.</li>
                  <li><i class="bi bi-check2-all"></i> Paying attention to your emotional health is also important to your overall health. If you find that you are experiencing emotional challenges that prevent you from sticking to a healthy lifestyle, think about getting some support.</li>
                  <li><i class="bi bi-check2-all"></i> Also, women with PCOS may have a complex relationship with food that may affect eating habits. It is good to remember that help is available to support you.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="static/img/features-4.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

        </div>

      </div>
    </section><!-- End Features Section -->



    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-blog-posts" class="recent-blog-posts">
      <div class="container" data-aos="fade-up"">

    
    
  <div class=" section-header">
        <h2>Recent Blog Posts</h2>
        <p>Explore blogs related to PCOS </p>
      </div>

      <div class="row gy-5">

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="post-item position-relative h-100">

            <div class="post-img position-relative overflow-hidden">
              <img src="static/img/blog/blog-1.jpg" class="img-fluid" alt="">
              <span class="post-date">December 12</span>
            </div>

            <div class="post-content d-flex flex-column">

              <h3 class="post-title">What is polycystic ovary syndrome (PCOS) and how it affects women?</h3>

              <div class="meta d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <i class="bi bi-person"></i> <span class="ps-2">By Dr Anitha Rao</span>
                </div>
                <span class="px-3 text-black-50">/</span>
                <div class="d-flex align-items-center">
                  <i class="bi bi-folder2"></i> <span class="ps-2">TheNewsMinute </span>
                </div>
              </div>

              <hr>

              <a href="https://www.thenewsminute.com/article/what-polycystic-ovary-syndrome-pcos-and-how-it-affects-women-169825" target="_blank" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>

            </div>

          </div>
        </div><!-- End post item -->

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="post-item position-relative h-100">

            <div class="post-img position-relative overflow-hidden">
              <img src="static/img/blog/blog-2.jpg" class="img-fluid" alt="">
              <span class="post-date">July 17</span>
            </div>

            <div class="post-content d-flex flex-column">

              <h3 class="post-title">How to manage body weight if you have PCOS?</h3>

                <div class="meta d-flex align-items-center">
                  <div class="d-flex align-items-center">
                    <i class="bi bi-person"></i> <span class="ps-2">By Daphne Clarance</span>
                  </div>
                  <span class="px-3 text-black-50">/</span>
                  <div class="d-flex align-items-center">
                    <i class="bi bi-folder2"></i> <span class="ps-2">India Today</span>
                  </div>
                </div>

                <hr>

                <a href="https://www.indiatoday.in/health/story/how-to-manage-body-weight-if-you-have-pcos-expert-answers-2003981-2022-09-23" target="_blank" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>

            </div>

          </div>
        </div><!-- End post item -->

        <div class="col-xl-4 col-md-6">
          <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="300">

            <div class="post-img position-relative overflow-hidden">
              <img src="static/img/blog/blog-3.jpg" class="img-fluid" alt="">
              <span class="post-date">September 05</span>
            </div>

            <div class="post-content d-flex flex-column">

              <h3 class="post-title">Precautions people with PCOS can take to reduce diabetes risk
                Daphne Clarance</h3>

              <div class="meta d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <i class="bi bi-person"></i> <span class="ps-2">By Daphne Clarance</span>
                </div>
                <span class="px-3 text-black-50">/</span>
                <div class="d-flex align-items-center">
                  <i class="bi bi-folder2"></i> <span class="ps-2">India Today</span>
                </div>
              </div>

              <hr>

              <a href="https://www.msn.com/en-in/health/medical/precautions-people-with-pcos-can-take-to-reduce-diabetes-risk/ar-AA141LMd" target="_blank" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>

            </div>

          </div>
        </div><!-- End post item -->

      </div>

      </div>
    </section>
    <!-- End Recent Blog Posts Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>PCOcare</h3>
              <p>
                Evidence-based information and awarness <br> for women with Polycystic ovary syndrome <br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> pcocare@example.com<br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End footer info column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div><!-- End footer links column-->


        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>HadeeCare</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a>Madasu Deepika & Harinisri G</a>
        </div>
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/aos/aos.js"></script>
  <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/js/main.js"></script>

</body>

</html>